{% extends 'base.html.twig' %}
{% block title 'Agence Tous Risques' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur la page d'accueil de l'agence</h1>
        <p>J'adore qu'un plan se déroule sans accrocs</p>
    </div>
{% endblock %}