{% extends 'base.html.twig' %}
{% block title 'Tous nos biens'%}

{% block body %}
    <div class="container mt-4">
        <h1>Nos biens à vendre</h1>
        <p>J'adore qu'un plan se déroule sans accrocs</p>
    </div>
{% endblock %}